@font-face {
  font-family: 'Cousine';
  src: url(Cousine-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url(Cousine-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url(Cousine-Italic.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url(Cousine-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Cousine", monospace; 
  background-color:#222;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;    
  color: #0f0;
  padding:0;
  margin: 0; 
    font-size:16px; 
    -webkit-text-size-adjust: 100%;
}

#toolbar{ 
    margin-bottom:1px; 

}
#notesList{ 
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  line-height:1.8;
  color: blanchedalmond;
     max-height:120px; 
    overflow:auto;     
    font-size: 16px;
}
#notesList a {text-decoration: none;color:blanchedalmond}

#editor{ 
    width:100%; 
    height:240px; 
    font-size:16px; 
    padding:8px; 
    box-sizing:border-box;
    -webkit-appearance: none;
    background-color:#222;
    color: #0f0;
}
#title {background-color:#222;
    color: #0f0;}
button{     
    -webkit-appearance: none;
    border-radius:0;
    margin:1px;
}
input {
    font-size:16px;
    padding:6px;
    -webkit-appearance: none;
    border-radius:0;
    box-sizing:border-box;
}
#status {
    font-size:14px;
    align-self: center;
    margin-left:8px;
}

 .menulink {
  background-color:lightgray;
  width: 100%;  
  vertical-align: middle;
}
.menulink img {width:28px;}

.login div {text-align:center;margin: 0 auto;margin-top:50px;}
.login div img {border:2px solid gray;background-color:lightgray;width:140px;margin-bottom:50px;}
.login div form input {
  padding:9px;
font-size:16px;
    -webkit-appearance: none;
    border-radius:0;
    box-sizing:border-box;
}

.login div form button{     
    -webkit-appearance: none;
    border-radius:0;
    margin:1px;
}
#status {color: rgb(0, 0, 0);}